@use '../variables/colors';

.content-feed{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.post{
    display: grid;
    grid-template-columns: 1fr 15fr;
    max-width: 640px;
    min-width: 640px;
    min-height: 240px;
    max-height: 675px;
    background-color: colors.$dark-primary;
    border: 1px solid colors.$dark-accent-secondary;
    border-radius: 5px;
    margin: 15px 0 0 0;

    .post-karma-vote{
        height: 100%;
        background-color: colors.$dark-post-votes-section;
    }
}