@use '../mixins/sizing';
@use '../variables/colors';
.left-main-bar{
    background-color: colors.$dark-primary;
    max-width: 300px;
    min-width: 200px;
    padding: 15px;
    // visibility: hidden;
}

.left-navbar{
    position: fixed;
    margin-top: 50px;
    height: calc(100vh - 30px);
    min-width: 230px;
    max-width: 260px;
}