// DARK THEME
$dark-primary: #1A1A1B;
$dark-secondary: #030303;
$dark-text-primary: #D2D5D7;
$dark-text-secondary: #828385;
$dark-accent-primary: #C8CBCD;
$dark-accent-secondary: #343536;
$dark-post-votes-section: #161617;