@mixin flex-center{
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-direction($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;  
}